/* golbal */
* {
  padding: 0;
  margin: auto;
  transition: all .3s;
  box-sizing: border-box;
  list-style: none;
}
/* golbal-end */

/* 自訂 */
.maxWidth {
  max-width: 1024px;
}

.text-gray{
  color:#777;
}

.text-accent{
  color:#8C3E3E;
}

.text-purple{
  color:#AAA7B0;
}

.icon {
  color: #777;
}

.icon:hover{
  color:#8C3E3E;
}

/* a 標籤樣式移除 */
.styleNone{
  color: #2D2D2D;
  text-decoration: none;
}

.styleNone:hover{
  color: #777;
  text-decoration: none;
}

/* btn */
.btn{
  background: none!important;
}

.btn:active{
  border: none!important;
}

.btn:focus{
  border: none!important;
}

.btnFlat{
  /* background: #5C5C5C; */
  background: black;
  padding: 5px 1rem;
  color: white;
  border-radius: 2px;
  border: none;
}

.btnFlat:hover{
  background: #2D2D2D;
}

.btnOutline{
  font-size: 14px;
  border:1px solid #2D2D2D;
  padding: 2px 10px;
  border-radius: 2px;
  background: none;
}

.btnOutline:hover{
  background: #2D2D2D;
  color: white;
}

.btnNone{
  outline: none;
  border: none!important;
  background: none!important;
}
.btnNone:hover{
  color: #2D2D2D!important;
}

/* span */
.spanOutline span{
  cursor:default;
  display: inline-block;
  border-radius: 5px;
  /* background: #f2f2f2; */
  padding: 2px 10px;
  margin: 3px;
  border: 1px solid #777;
}

.spanFlat{
  background: #72A69C;
  border: none!important;
  border-radius: 3px!important;
  color: white;
  padding: 3px 7px;
}
/* 自訂-end */

/* back-to-top */
.toTop {
  position: fixed;
  right: 3%;
  bottom: 3%;
  font-size: 1rem;
  color: white;
  background: #2D2D2D;
  box-shadow: 2px 2px 10px #777;
  opacity: .4;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.toTop:hover {
  opacity: .7;
}
/* back-to-top end */


/* navbar */
nav {
  width: 95%;
  background:rgba(255,255,255,.95);
  border-bottom: 1px solid #2D2D2D ;
  position: fixed;
  top: 0;
  padding: .5rem;
  z-index: 500;
}

/* 小尺寸 navbar */
.navLink-xs{
  z-index:2000;
  transition: none!important;
  display: none;
  top: 47px;
  right: 0%;
  position: absolute;
  width: 35%;
  background: rgba(0,0,0,.8);
  border: none;
  box-shadow: 1px 1px 5px #777;
}

.navLink-xs a {
  padding: 5px 10px;
  text-decoration: none;
  color: #FFF;
  display: block;
}

.navLink-xs a:hover{
  color: #2D2D2D;
  background:white;
}

.burger{
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0, -50%);
}
/* 小尺寸 navbar end */


/* 大尺寸 navbar */
.navBrand {
  display: inline-block;
  width: 60px;
  height: 30px;
}

.navBrand img{
  width: 100%;
  /* height: 50%; */
}

.navLink {
  display: none;
  height: 50%;
  padding: 40px 0 80px 0 ;
}

.navLink a{
  font-size: 14px;
  padding: 10px 20px;
  color: #777;
  text-decoration: none;
}

.navLink a:hover {
  color: #2b2b2b;
}
/* 大尺寸 navbar end */
/* navbar end*/

/* 關於我 */
.about{
  margin-top: 10px;
  width: 100%;
}

.aboutText {
  width: 100%;
  text-align: justify;
  letter-spacing: 3px;
  padding: 0 25px 0 70px;
  text-indent: -1rem;
}

.info p {
  font-size: 14px;
  letter-spacing: 1px;
}

.info h4 {
  color: #2D2D2D;
  letter-spacing: 3px;
}
/* 關於我 end */

/* 學經歷 */
.experience ul {
  border-left: 1px solid #2D2D2D;
}

.experience .title {
  padding: 5px 15px;
  background:#8C3E3E ;
  color: white;
  display: inline-block;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.experience tr>td:first-child{
  width: 150px;
}

.experience td{
  padding: 5px;
  font-size: 1rem;
}
/* 學經歷 end */


/* 技能 */
.skill ul {
  border: 1px solid #2D2D2D;
  background: white;
  padding: 2rem 0 2rem 2rem;
}
/* 技能 end */


/* 專題 carousel */
.carousel-control-prev {
  left: -12%!important;
}

.carousel-control-next {
  right: -12%!important;
}
/* 專題 carousel end */


/* 其他作品 */
.otherPort .card {
  width: 100%;
}

.otherPort a {
  text-decoration: none;
  color: #2D2D2D;
}

.otherPort span{
  cursor:default;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 10px;
  margin: 3px;
  background: #e9e9e9;
  font-size: 14px;
}

.box {
  object-fit: cover;
  overflow: hidden;
}

.box img{
  height: 210px;
  object-fit: cover;
  transition: ease-in-out .5s;
}

.box img:hover{
  scale: 1.2;
}

.card{
  scale: .98;
  width: 24rem;
}

.card-body p {
  height: 80px;
}

.card:hover{
  scale: 1;
  filter: drop-shadow(5px 5px 5px #777);
}
/* 其他作品 end*/


/* 聯絡我 */
.contact {
  color:#2D2D2D;
  background: #F2F2F2;
}

.contact form {
  color: var(--bs-body-color);
  width: 100%;
}

.form-control {
  border-radius: 0!important;
}

.contactRight {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.contactIcon{
  position: absolute;
  right: 0;
}
/* 聯絡我 end*/


/* footer */
footer {
  background: #F2F2F2;
}

.copyright{
  /* padding: 10px 0; */
  font-size: 14px;
  background: #F2F2F2;
  color: #777;
}

.copyright .text{
  padding: 8px 0;
  width: 100%;
  border-top: 1px solid #2D2D2D;
}

.navLink_footer {
  padding-bottom: 5px;
}

.navLink_footer a{
  color: #777;
  padding: 3px;
}
/* footer end*/


@media (min-width:576px) {
  nav{
    position: relative;
    background: none;
  }

  .burger {
    display: none;
  }

  .navBrand {
    width: 120px;
    height: 60px;
    padding: 3rem 0 ;
  }

  .navLink {
    position: relative;
    display: block;
    z-index: 100;
  }

  .info{
    position: absolute;
    top: 190px;
    /* left: 10%; */
    flex-direction: column;
    z-index: 3000;
  }

  .aboutText{
    padding-left: 40%;
  }

  .skill ul{
    width: 30%;
    height: 280px;
  }

  .otherPort .card{
    width: 18rem;
  }

  .otherPort .box img{
    height: 160px;
  }
}